<IfModule LiteSpeed>
  RewriteEngine On

  # Allow office IPs
  RewriteCond %{REMOTE_ADDR} ^81\.143\.208\.209$ [OR]
  RewriteCond %{REMOTE_ADDR} ^81\.150\.1\.84$
  RewriteRule ^.*$ - [L]

  # Block everything else
  RewriteRule ^.*$ - [F,L]
</IfModule>
# This file was updated by Duplicator on 2026-03-19 20:34:38.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress